html,
body {
  margin: 0;
  padding: 0;
}

.main {
  height: 100vh;

  /* GRID */
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.main div {
  padding: 10px;
  min-height: 90%;
  text-align: center;
}

.titles {
  font-size: 30px;
  font-weight: bold;
  text-shadow: 1px 1px 2px;
}

#item1 {
  background-color: red;

  /* FLEX */
  display: flex;
  gap: 0.3rem;
  justify-content: center;
}

#item2 {
  background-color: green;

  /* FLEX */
  display: flex;
  gap: 0.3rem;
  justify-content: center;
  align-items: center;
}

#item3 {
  background-color: blue;

  /* GRID */
  display: grid;
  gap: 0.3rem;
  grid-template-columns: 1fr 1fr 1fr;
  place-items: center;
}

.boxes {
  height: 100px;
  width: 100px;
  border-radius: 15px;
  background-color: black;
}
