html,
body {
  margin: 0;
  padding: 0;
}

.first-container {
  height: 100vh;
  background-color: black;

  /* FLEX */
  display: flex;
  justify-content: center;
  align-items: center;
}

.wrapper1 {
  height: 60%;
  width: 60%;
  background-color: black;

  /* GRID */
  display: grid;
  grid-template-rows: 100px 1fr;
  row-gap: 5px;
}

.wrapper1 div {
  border: 2px solid greenyellow;
  border-radius: 5px;
}

.main1 {
  grid-row: 1/2;

  padding: 10px;
  text-align: center;
  text-shadow: 1px 1px 2px white;
  background-color: rgb(167, 165, 165);
}

.main2 {
  grid-row: 2/3;
  padding: 5px;
  background-color: whitesmoke;

  /* GRID */
  display: grid;
  gap: 0.5rem;
  grid-template-areas:
    "main2-item1 main2-item2 main2-item2"
    "main2-item1 main2-item3 main2-item4"
    "main2-item1 main2-item3 main2-item5";
}

.main2 div {
  border: 2px solid black;
}

.main2-item1 {
  grid-area: main2-item1;
  background-color: red;
}

.main2-item2 {
  grid-area: main2-item2;
  background-color: green;
}

.main2-item3 {
  grid-area: main2-item3;
  background-color: blue;
}

.main2-item4 {
  grid-area: main2-item4;
  background-color: yellow;
}

.main2-item5 {
  grid-area: main2-item5;
  background-color: pink;
}
