html,
body {
  margin: 0;
  padding: 0;
}

.main {
  height: 100vh;

  /* Grid */
  display: grid;
  gap: 0.5rem;
  grid-template-areas:
    "item1 item2 item3"
    "item1 item4 item5"
    "item1 item4 item6";
}

/* NAVIGATION BAR */
.item1 {
  grid-area: item1;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: red;
}

/* CONTENT */
.item2 {
  grid-area: item2;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: green;
}

/* FOOTER */
.item3 {
  grid-area: item3;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: blue;
}

.item4 {
  grid-area: item4;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: yellow;
}

.item5 {
  grid-area: item5;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: pink;
}

.item6 {
  grid-area: item6;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
}
