html,
body {
  margin: 0;
  padding: 0;
}

.main {
  height: 100vh;
  background-color: gainsboro;

  /* GRID */
  display: grid;
  grid-template-areas:
    "card1 card2 card2"
    "card1 card3 card4"
    "card1 card3 card5";
  grid-template-columns: 260px 400px 1fr;
  grid-template-rows: 350px 1fr 1fr;
}
.card1 {
  grid-area: card1;
  /* background-color: #ff0000; */
}
.card2 {
  grid-area: card2;
  background-color: #008800;
}
.card3 {
  grid-area: card3;
  background-color: #0000ff;
}
.card4 {
  grid-area: card4;
  background-color: #ffff00;
}
.card5 {
  grid-area: card5;
  background-color: #ffc0ff;
}

/* ID Picture */
#picture {
  height: 140px;
  width: 150px;
  margin: 50px;
  border: 1px solid;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}
img {
  height: 145px;
  width: 150px;
  border-radius: 10px;
}

/* Information */
#info {
  width: 225px;
  margin: 6px;
  padding: 10px;
}
#fullname {
  height: 30px;
  margin-right: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#age {
  height: 30px;
  margin-right: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#stats {
  height: 30px;
  margin-right: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* Contacts */
#contact {
  width: 225px;
  margin: 6px;
  padding: 10px;
}
#mobnum {
  height: 30px;
  margin-right: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#email {
  height: 30px;
  margin-right: 1px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#location {
  height: 30px;
  margin-right: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
